<div class="card mb-3 w-75">
    <img src="https://2.bp.blogspot.com/-7XBSMkyAyt4/Wc4HoYQXwPI/AAAAAAAABB4/agQ9rNmWfOMX34SfuDIZqtARhiI_JaHFgCLcBGAs/s1600/ZOMBIE%2BINVASION%2BSECTION%2B2.jpg" style="height: 200px;" class="card-img-top" alt="...">
    <div class="card-header text-white bg-info">Registro</div>
    <div class="card-body">
        <div id="alertaGuardarU"></div>
        <form>
            <div class="form-row">    
                <div class="position-relative form-group col">
                    <label for="nombre" class="">Nombre</label>
                    <input [(ngModel)]="nombreU" name="nombre" id="nombreU" placeholder="Nombre" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group col">
                    <label for="email" class="">Email</label>
                    <input [(ngModel)]="correoU" name="email" id="emailU" placeholder="Email" type="email" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-row">
                <div class="position-relative form-group col">
                    <label for="email" class="">Contraseña</label>
                    <input [(ngModel)]="contraU" name="contra" id="contraU" placeholder="Contraseña" type="password" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group col">
                    <label for="imagen" class="">Imagen</label>
                    <input [(ngModel)]="imagenU" name="imagen" id="imagenU" placeholder="Imagen" type="text" class="form-control form-control-sm">
                </div>
            </div>
            <button onclick="location.href='#/login'" type="button" class="btn btn-link col-md-4">Ya tienes una cuenta? Inicia sesión aqui</button>
            <button type="button" class="btn btn-outline-dark col-md-4 offset-md-4" (click)="guardarUsuario()">Registrarse</button>
        </form>
    </div>
</div>
